<header>
  <img
    src="assets/img/bruno.png"
    alt="Foto de perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Manoel Bruno</h1>
</header>

<aside>
  <div class="container">
    <p>Front-end Developer | Typescript | Angular | NodeJs</p>
    <p>Brasília - Distrito Federal, Brasil</p>
    <p>
      "Estudante de Desenvolvimento de Software em constante aprendizado, focado
      no framework Angular. Há 2 anos venho estudando e construindo projetos
      para fortalecer minhas habilidades e entender na prática como criar
      aplicações organizadas, funcionais e com boas práticas do mercado. Busco
      cada vez mais evoluir no desenvolvimento front-end e contribuir com
      soluções que façam a diferença..."
    </p>
  </div>

  <nav>
    <ul>
      <li>
        <a
          href="assets/pdf/cv-bruno.pdf"
          target="_blank"
          class="btn btn-primary"
          >Download CV</a
        >
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/manoel-bruno-dev/"
          target="_blank"
          class="btn btn-secondary"
          >LinkedIn</a
        >
      </li>
    </ul>
  </nav>

  <section>
    <figure>
      <img
        src="assets/icons/wpp.ico"
        alt="Icone para contato do whatsapp"
        width="28px"
        height="28px"
      />

      <figcaption>
        <a
          href="https://api.whatsapp.com/send?phone=5561982569668&text=Ol%C3%A1%20Manoel,%20preciso%20de%20um%20job!"
          target="_blank"
        >
          <strong>Envie uma mensagem para:</strong>
          <p>WhatsApp: (61) 98256-9668</p>
        </a>
      </figcaption>
    </figure>

    <figure>
      <img
        src="assets/icons/email.ico"
        alt="Icone para contato via Email"
        width="22px"
        height="22px"
      />
      <figcaption>
        <a href="mailto:manoelbrunop17@gmail.com" target="_blank">
          <strong>Envie um e-mail para para:</strong>
          <p>manoelbrunop17&#64;gmail.com</p>
        </a>
      </figcaption>
    </figure>
  </section>
</aside>
